@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '~knacss/sass/knacss.scss';

$animationDuration: 0.3s;
@import '~vue2-animate/src/sass/vue2-animate.scss';

$mainColor: #22961d;
$iconSize: 40px;

.page {
  display: flex;
  flex-direction: column;
  background-color: $mainColor;
  color: #ffffff;
  flex-grow: 1;
  padding: 15px;
  overflow: auto;

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }

  .header {
    height: 77px;
    align-items: center;
    justify-content: flex-start;

    h1 {
      text-align: center;
      flex-grow: 1;
      margin-left: -59px;
    }

    svg {
      color: #fff;
      width: $iconSize;
      height: $iconSize;
    }
  }

  .content {
    margin: 0;
  }
}
